 h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif; 
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5px;
}

header {
  height: 80px;
  background-color: #2BADE6;
}

h1 {
  font-size: 40px;
}

#sottotitolo  {
  color: #808080;
  font-size: 18px;
}

/* Link custom */
a {
  color: #2BADE6;
  text-decoration: none;
}


figure {
  margin: 30px 0;
}


.evidenziatore {
  background-color: yellow;
}

ul {
  margin: 10px 0;
  padding: 20px;
}